<h1>Doc with images</h1>

<img src="/bundles/aldafluxdocimg/images/inda.png">
<img src="https://upload.wikimedia.org/wikipedia/fr/thumb/9/94/Logo_Microsoft_Word_2013.png/220px-Logo_Microsoft_Word_2013.png">


It's working !
